.rules{
    color: rgb(160, 159, 159);
    font-size: .9rem;
    padding-inline: 5%;
    color: white;
}
.rules p{
    line-height: 50px;
    font-family: "Press Start 2P", serif;
    margin-bottom: 1rem;
}
.rules p span{
    font-size: 30px;
    margin-left: -20px;
    margin-top: 10px !;
}