.game-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
}
.bulb-icon{
    position: absolute;
    top: 50%;
    left: 50%;
   background-color: green;
}
