.tab{
    padding: 1rem;
    border-radius: 30px;
    background: #50C878;
    color: white;
    padding-inline: 3%;
    cursor: pointer;
}
.tab h1{
    font-family: "Press Start 2P", serif;
    font-size: 1.2rem;
}
.tab