.tab{
    padding: 1rem;
    border-radius: 30px;
    background: #50C878;
    color: white;
    padding-inline: 3%;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tab h1{
    font-family: "Press Start 2P", serif;
    font-size: 1.2rem;
}
.tab:active{
  scale: .895;
}