
.random_card{
    border-radius: 5px;
    height: 2.4rem;
    width: 2.4rem;
}
.hint{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.hint p{
    font-family: "Press Start 2P", serif;

}